*.gem
*.rbc
.bundle
.config
.yardoc
Gemfile.lock
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
*.bundle
*.so
*.o
*.a
mkmf.log
*.log
*.sqlite
*.bak
todo
issues
deprecated
 .srclist
 NOTES
 bug
 examples/common/rmail.rb
 examples/dump.yml
 examples/oldwidgetshortcuts.rb
 examples/test2.rb
 examples/testskel.rb
 examples/teststackflow.rb
 examples/todo.txt
 examples/ugu.rb
 examples/x.tsv
 examples/xxx.rb
 issues.txt
 tags
 test.yml
 todo.0.0.1
